/*** Styles for this project ***/
:root {
  --light-background-color: #fdfdfd;
  --purple: #6a1b9a;
  --lightPurple: #ba68c8;
  --white: #ffffff;
  --black: #000000;
  --grey: #cccccc;
}
/*** Main Styles ***/
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  background: var(--light-background-color);
}

main {
  margin: 2rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

h2.title {
  text-align: center;
  color: var(--purple);
}

h3 {
  color: var(--purple);
  margin-block-end: 0;
  margin-block-start: 0;
}

.whitepaperBox {
  display: grid;
  padding: 1em;
  margin: 1rem;
  border: 1px solid var(--grey);
  transition: all 0.2s;
}

.whitepaperBox:focus,
.whitepaperBox:hover {
  box-shadow: 5px 5px 0px 0px var(--lightPurple);
}

.toggle {
  display: inline;
}

a {
color: var(--purple);
}

.content {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-decoration: none;

}

button {
  justify-self: left;
  align-items: center;
}

.btnReadMore {
  margin-top: auto;
  background: transparent;
  color: var(--purple);
  border: 3px solid var(--purple);
  padding: .5em 1.5em;
  font-size: 1rem;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  transition: all 0.2s;
}

.btnReadMore:hover {
  background: var(--purple);
  color: var(--white);
}

/*** Media Queries ***/
 /* Smartphones (Portrait and Landscape) ----------- */
@media only screen 
  and (min-width : 320px) 
  and (max-width : 480px) {
    /* Styles */
    main {
      margin: .5rem;
    }
    .container {
      display: grid;
      grid-template-columns: 1fr;
    }
    button {
      justify-self: stretch;
    }
  }
/* Smartphones (Portrait and Landscape) ----------- */
@media only screen 
  and (min-width: 480px) 
  and (max-width: 767px) {
    /* Styles */
        main {
      margin: .5rem;
    }
    .container {
      display: grid;
      grid-template-columns: 1fr;
    }
    button {
      justify-self: left;
    }
  }
/* Tablets (Portrait and Landscape) ----------- */
@media only screen 
  and (min-width: 768px) 
  and (max-width: 1230px) {
    /* Styles */
      main {
      margin: .5rem;
    }
    .container {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    button {
      justify-self: left;
    }
  }
/* Desktop and bigger screens ----------- */
@media only screen and (min-width: 1231px){
    /* Styles */
      main {
      margin: 2rem;
    }
    .container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
    button {
      justify-self: left;
    }
}